config daemon
        option loglevel     'info'

config can
        option interface    'can0'
        option bitrate      '100000'
        option restart_ms   '100'

config mqtt
        option host          '192.168.0.22'
        option port          '1883'
        option client_id     'wzgw'
        option topic_command '/can0/'
        option topic_publish '/can0_wz/'
        option keepalive     '60' 
        option topic_id_format 'hex'
        option payload_format  'decimal'
